* {
    font-family: "Raleway";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, dimgrey, aliceblue);
    margin: 10 10;
    padding: 10 20;
}

article, aside {
    padding: 10 0;
}
footer , .cite {
    text-align: center;
    background-color: aliceblue;
    padding: 0;
    opacity: 0.8;
    border: 3px solid darkorange;
    border-style: inset;
    border-radius: 15px;
    border-right-style: hidden;
    border-bottom-style: hidden;
    margin: 10;
    display: inline-block;
    max-width: 800;
    height: 153;
    overflow: scroll;
}
footer p {
    font-size:small;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.source, .cite p{
    text-align: right;
    display: inline-block;
    padding: 12px 12px;
    width: 350px;

}
.cite img {
    height: 150;
    float: left;
    margin: 0;
    padding: 0;
    border-radius: 12px;
}
nav ul { 
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    background-color: darkorange;
    border-radius: 15px;
  }
  
nav li {
    padding:10px;
    border-radius: 15px;
    padding-left: 50px;
    overflow-y: hidden;
}

nav li:hover {
    background: white;
    border: 1px solid black;
}

nav li a{
    font-weight: 100;
    letter-spacing: 2px;
    color: black;
  }
  
.headline {
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }
section {
    font-family: "Raleway-Italic";
    text-align: justify;
    padding: 10px;
}
section h3 {
    border-bottom: 2px solid darkorange;
    border-top: 1px solid darkorange;
    padding-left: 50px;
}


#logo {
    float: right;
    position: absolute;
    right:30;
    width: 200px;
    min-width: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url("/RalewayFonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: 'Raleway-Semibold';
    src: url("/RalewayFonts/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: 'Raleway-Italic';
    src: url("/RalewayFonts/Raleway-Italic.ttf");
}
@font-face {
    font-family: 'Raleway-Light';
    src: url("/RalewayFonts/Raleway-ExtraLight.ttf");
}

.bold, strong
{
    font-family: "Raleway-Semibold";
}

table {
    margin: 0 auto;
    text-align: left;
}


.italic, em
{
    font-family: "Raleway-Italic";
}

.light
{
    font-family: "Raleway-Light";
}


